# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

requests
python-dotenv
pydantic

duckdb==1.0.0
airflow-provider-duckdb==0.2.0
astro-sdk-python[duckdb]==1.6.1
apache-airflow-providers-postgres
